<meta charset="UTF-8">
<meta name="description" content="Мебель на заказ - изготовление мебели по индивидуальным проектам от компании 'РЕФОРМ СИТИ'. Продукция нашей фирмы – это яркое отражение современных дизайнерских идей.">
<meta name="keywords" content="мебель на заказ,мебель на заказ москва,мебель на заказ по индивидуальным проектам,производство мебели,изготовление мебели">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
<meta property="og:image" content="http://tanyahayden.ru/assets/ogimage.jpg" />
